html, body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
h1, h2{
	text-align: center;
}

#normalContainer{
	width: 800px;
	height: 800px;
	position: relative;
	margin: 0 auto;
}

#normalContainer > div > img{
	width: 800px;
	height: 505px;
}

#wideContainer{
	width: 100%;
	height: 400px;
}

#wideContainer div{
	height: 100%;
	width: 100%;
}